.memories {
  padding: 10px 15px;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  width: 100%;
}

.memories h1 {
  font-size: 2em;
  text-transform: capitalize;
  line-height: 100%;
  width: 70%;
  font-weight: 500;
}

.memories h1 span {
  color: gray;
  font-size: 12px;
}

.memories-box {
  padding: 10px 0;
  box-sizing: border-box;
  margin: 0 auto;
}

.memories-box .memories-card {
  display: inline-flex;
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;
  gap: 20px;
  box-sizing: border-box;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.img,
.img2,
.img3,
.img4,
.img5, 
.img6,
.img7,
.img8,
.img9,
.img10 {
  height: 68vh;
  min-width: 400px;
  background-image: url(../assets/ring.jpg);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
.img2 {
  background-image: url(../assets/skin.jpg);
  min-width: 500px;
  background-position: bottom;
  height: 35vh;
}
.img3 {
  background-image: url(../assets/gate.jpg);
  width: 400px;
}
.img4 {
  background-image: url(../assets/blood.jpg);
}
.img5 {
  background-image: url(../assets/bg.jpg);
}
.img6 {
  background-image: url(../assets/bra.jpg);
}
.img7 {
  background-image: url(../assets/cute.jpg);
}
.img8 {
  background-image: url(../assets/ijebu.jpg);
}
.img9 {
  background-image: url(../assets/january.gif);
}
.img10 {
  background-image: url(../assets/walking.gif);
}

.future {
  width: 400px;
}

.memories-info {
  background-color: #f2f2f2;
  margin-top: 15px;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 10px;
  justify-content: space-between;
}

.memories-info h1 {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}

.memories span {
  color: #000;
  text-decoration: underline;
  font-size: 11px;
}

.memories-info p {
  text-transform: lowercase;
  width: 100%;
  font-size: 13px;
  color: #5a5a5a;
}

.memories-dates p {
  border-bottom: 1px solid #5a5a5a;
  font-size: 10px;
  text-align: right;
  width: fit-content;
  float: right;
}

@media (max-width:500px) {
    .memories h1 {
        width: 100%;
        font-size: 1.5em;
    }
    .img,
.img2,
.img3,
.img4,
.img5, 
.img6,
.img7,
.img8,
.img9,
.img10 {
  min-width: 90vw;
  height: 70vh;
}
.img2 {
  min-width: 90vw;
  height: 300px;
}
}
